name: CI API

on:
  push:
    branches: [ main ]
    paths:
      - "cypress/e2e/api/**"
      - "cypress/pageObject/api/**"
      - "src/utils/**"
      - "cypress.config.js"
      - "package.json"
  pull_request:
    branches: [ main ]

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependências
        run: npm install

      - name: Executar testes de API (@api)
        run: npx cypress run --env TAGS='@api'


